In [1]:
import pandas as pd 
import numpy as np
from sklearn.preprocessing import StandardScaler,RobustScaler,MinMaxScaler
import matplotlib.pyplot as plt
from sklearn.decomposition import PCA
import seaborn as sns

df = pd.read_csv('../Dataset/all_var_int.csv')
df.describe()

/var/folders/cd/prkj0t8j32v902v1n0cr3s6h0000gn/T/ipykernel_34605/1022285469.py:8: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('../Dataset/all_var_int.csv')
/Users/avya/Desktop/ICH/.venv/lib/python3.13/site-packages/pandas/core/nanops.py:1016: RuntimeWarning: invalid value encountered in subtract
  sqr = _ensure_numeric((avg - values) ** 2)
/Users/avya/Desktop/ICH/.venv/lib/python3.13/site-packages/pandas/core/nanops.py:1016: RuntimeWarning: invalid value encountered in subtract
  sqr = _ensure_numeric((avg - values) ** 2)
/Users/avya/Desktop/ICH/.venv/lib/python3.13/site-packages/pandas/core/nanops.py:1016: RuntimeWarning: invalid value encountered in subtract
  sqr = _ensure_numeric((avg - values) ** 2)

,FID_Key,state_code,district_code,block_code,objectid,stcode11,drought_frq,storm_freq,flood_freq,rural_pop,...,jobcard_issued_ratio,active_jobcard_ratio,jobcard_applied_ratio,total_reg_workers_ratio,women_reg_workers_ratio,joint_acc_of_women_ratio,ratio_women_reg_workers_with_joint_acc,num_women_beneficiary_worker_with_acc_ratio,active_women_beneficiary_worker_with_acc_ratio,pmuy_ratio
count,5815.000000,5815.000000,5815.000000,5815.000000,5815.000000,5815.000000,5815.000000,5815.000000,5815.000000,5.815000e+03,...,5815.000000,5815.000000,5815.000000,5815.000000,5814.000000,5815.000000,5815.000000,5814.000000,5814.000000,5815.000000
mean,3744.730181,19.342218,362.509028,3424.578504,3459.751849,19.834910,3.081169,11.045572,22.271883,4.268809e+06,...,0.714751,0.424310,0.734578,0.291178,0.488051,0.065415,inf,0.814902,0.679100,0.247614
std,1998.031178,9.939108,195.339992,1951.511798,2106.574036,10.560126,2.103926,9.441698,14.123303,3.745933e+06,...,0.387064,0.320334,0.393734,0.212106,0.112354,0.138342,NaN,0.166778,0.169416,0.132712
min,1.000000,1.000000,1.000000,2.000000,2.000000,1.000000,0.000000,0.000000,0.000000,0.000000e+00,...,0.000000,0.000000,0.000000,0.000000,0.048183,0.000000,0.000000,0.021092,0.000000,0.000000
25%,1976.500000,9.000000,192.000000,1709.500000,1566.500000,9.000000,2.000000,3.000000,13.000000,1.569976e+06,...,0.501894,0.230743,0.517667,0.139715,0.434845,0.003759,0.009160,0.740222,0.584846,0.148857
50%,3670.000000,20.000000,356.000000,3408.000000,3289.000000,20.000000,3.000000,7.000000,21.000000,3.293788e+06,...,0.687221,0.373600,0.705664,0.250255,0.480940,0.016412,0.037031,0.865610,0.694479,0.239051
75%,5519.500000,27.000000,517.000000,5085.500000,5394.500000,27.000000,5.000000,20.000000,32.000000,6.076031e+06,...,0.867180,0.568607,0.886966,0.379779,0.518285,0.062226,0.119320,0.936593,0.801328,0.335610
max,7133.000000,38.000000,734.000000,7417.000000,7136.000000,39.000000,8.000000,38.000000,60.000000,3.173207e+07,...,11.910448,11.746269,11.910448,3.654485,0.941742,2.311789,inf,1.000000,1.000000,0.847415